body {
  margin: 0;
  font-family: sans-serif;
  background: #F3F3E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

svg {
  background: #CBDCEB;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.node {
  fill: #608BC1;
  stroke: #133E87;
  stroke-width: 1.5px;
  cursor: grab;
}

.node:hover {
  fill: #133E87;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5px;
}
